/* Estilos adicionales para el portafolio de Martín Hernández */

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navegación */
nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    transition: all 0.3s ease;
}

nav a:hover {
    background-color: #ed0000;
}

/* Secciones */
section {
    padding: 20px;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilos específicos para secciones */
#sobre_mi {
    background-color: #f4f4f4;
}

#proyectos {
    background-color: #e8e8e8;
}

#contacto {
    background-color: #f4f4f4;
}

/* Estilos para listas */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

/* Estilos para enlaces */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
